# Build artifacts
*.o
*.obj
*.so
*.dll
*.exe
*.out
*.a
*.lib
*.lo
*.la
*.elf
*.gch
*.pch

# Dependency and linker files
*.d
*.map
*.exp
*.ilk

# Debug files
*.pdb
*.dSYM/
*.stackdump

# Editor and OS-specific files
*~
*.swp
*.bak
*.tmp
.DS_Store
Thumbs.db
ehthumbs.db
desktop.ini

# IDE-specific folders (optional